@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    My business partner and I have always wanted a quality website where we could create our own necklaces, and after
    searching and failing to come up with anything, we thought "Why not create our own and share it with the world?"
</p>
