@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peoples Personal Pendants</h1>
    <p class="lead">We make pendants for you!</p>
    <p><a href="~/Views/PendantProducts/Create.cshtml" class="btn btn-primary btn-lg">Create a Pendant! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Design to your heart's content and then send it in and we'll make you vision a reality.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn More. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Pendants</h2>
        <p>If you bought one and would like another, just buy another one.</p>
        <p><a class="btn btn-default" href="~/Views/PendantProducts/Create.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pendants</h2>
        <p>Design Here.</p>
    </div>
</div>