@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peoples Personal Pendants</h1>
    <p class="lead">We make pendants for money!</p>
    <p><a href="" class="btn btn-primary btn-lg">Pay Us! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Give us money and a design and we'll give you pendant
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">You know enough &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Pendants</h2>
        <p>If you bought one and would like another, just buy another one.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pendant Hosting</h2>
        <p>We don't do that.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>